</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show EJS</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Post Details:</h1>
    <div class="info">
    <p class="id"><b>Post id:</b> <%= post.id %></p>
    <p class="user"><b>Username:</b> <%= post.username %></p>
    <p class="content"><b>Content: </b><%= post.content %></p>
</div>
</body>
</html>
